<!DOCTYPE html>
<html>
  <head>
  <%= include partials/header.ejs %>

  </head>
  <body>
    <div class="example">
         <label class="example_label">Toast</label>
         <button id="toast_short" class="btn">Short</button>
         <button id="toast_long" class="btn">Long</button>
    </div>
  </body>
  <%= include partials/script.ejs %>
  <script src="javascripts/basic.js"></script>
</html>